.rounded-div{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    overflow: hidden;
}
.img-rounded{
    width: 192px;
    height: 70px;
}
.border-news{
    border: 1px solid #808080 !important;
}
.border-newses{
    border: 1px solid #808080 !important;
    box-shadow: 5px 8px 18px  ;
}
.border-cus {
    --color: #808080;
    --position: left bottom;
    --width: 20%;
    --height: 5px;
    background: linear-gradient(var(--color), var(--color)) var(--position) / var(--width) var(--height) no-repeat;
    padding-bottom: 10px;
    margin-left: 4px;
    font: bold 2.5rem sans-serif;
}
.img-news {
    border-radius: 0 !important;
    border-bottom: 1px solid #808080 !important;
}