.fz22{
    font-size: 22px !important;
}
.border-cus {
    --color: orangered;
    --position: center bottom;
    --width: 10%;
    --height: 5px;
    background: linear-gradient(var(--color), var(--color)) var(--position) / var(--width) var(--height) no-repeat;
    padding-bottom: 10px;
    font: bold 2.5rem sans-serif;
}