.logo-custom {
    width: 75px !important;
}

.ip-custom {
    border: none;
    outline: none;
    margin-left: 10px;
    width: 400px;
    font-size: 25px !important;
}

.form-custom {
    border-bottom: 1px solid #777777;
    font-size: 30px;
    margin-left: 30px;
}

.nav-custom {
    font-size: 25px !important;
}


.icon-custom {
    font-size: 40px !important;
    color: black !important;
}

.box-search {
    width: 440px;
    position: absolute;
    background: white;
    top: 65px;
    left: 690px;
    z-index: 20;
}

.linkitem {
    color: black;
    text-decoration: none;
}

.linkitem:hover {
    text-decoration: none;
    color: black;
}

.img-search {
    width: 60px;
    height: 60px;
    margin-right: 40px;
    margin-left: 15px;
}

.form-item:hover {
    background-color: aliceblue;
}

.form-item {
    padding: 10px 0 !important;
}