.logo-custom {
    width: 75px !important;
}
.ip-custom {
    border: none;
    outline: none;
    margin-left: 10px;
    width: 400px;
    font-size: 25px !important;
}

.form-custom {
    border-bottom: 1px solid #777777;
    font-size: 30px;
    margin-left: 40px;
}
.nav-custom {
    font-size: 25px !important;
}

.icon-custom {
    font-size: 35px !important;
    color: black !important;
}